@import 'tailwindcss';

@layer utilities {
  .btn-gradient {
    background: linear-gradient(
      90deg,
      rgba(164, 226, 102, 1) 0%,
      rgba(74, 215, 105, 1) 100%
    );
  }
}

@theme {
  --color-primary: #4ad769;
  --color-secondary: #dff1dc;
}
